* {
    box-sizing: border-box;
    margin: 0;
}

html {
    /* background: #F3DBCE; */
    background-image: url(/images/lights_img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Big Shoulders Stencil Display', cursive;
    font-size: 200%;
}

.categoryContainer {
    background: #E5989B;
    margin: 2%;
    border-radius: 10px;
    opacity: .8;
    width: 250px;
}

.hover {
    background: green
}

.content-container {
    margin: 5px;
}

.view {
    display: flex;
}

.edit {
    display: flex;
}

.note-body-date-container {
    background: #7A7682;
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
    flex-grow: 1;
}

.note-body {
    font-family: 'Montserrat', sans-serif;
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    color: #ffffff;
    width: 100%;
}

.edit-note-body {
    font-family: 'Montserrat', sans-serif;
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    background: #7A7682;
    border: none;
    flex-grow: 1;
}

#note-date {
    font-size: 75%;
    padding: 0px 10px 5px 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #7A7682;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.action-buttons {
}

.new-note-container {
    display: flex;
    background: #B5838D;
    padding: 20px;
    justify-content: space-between;
    opacity: .8;
}

.saved-note-container {
    display: flex;
    flex-wrap: wrap;
}

.category {
    margin: 2px;
    padding: 2px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.note-submission-fields {
    background: #355070;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 2px;
    border: none;
}

#submit-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}