* {
    box-sizing: border-box;
    margin: 0;
    padding: 0 ;
}

.title {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex; 
}

.note-writing-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 auto;
    padding: 0; */
    display: grid;
    height: auto;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    max-width: 800px;
}

.note {
    margin: 5px;
    padding: 5px;
    border: 2px solid;
    background: #81b29a;
    border: none;
    border-radius: 5%;
}

.note-title-field {
    display: flex;
    padding: 1rem;
    align-items: stretch;
    height: 100px;
    width: 100%;
    grid-row: 1/1;
    background: #e07a5f;
    border: none;
    color: white;
    font-size: 150%;
}

.note-body-field {
    display: flex;
    padding: 1rem;
    align-items: stretch;
    height: 100%;
    width: 100%;
    grid-row: 2/5;
    background: #3d405b;
    border: none;
    color: #ffffff;
    font-size: 100%;
}

.date-stamp {
    display: flex;
    padding: 1rem;
    align-items: stretch;
    height: 100px;
    width: 100%;
    grid-row: 5/5;
    background: #3d405b;
    color: #ffffff;
    align-items: flex-end;
    justify-content: flex-end;
}

.submit-button {
    display: flex;
    padding: 1rem;
    align-items: stretch;
    height: auto;
    width: 100%;
    grid-row: 6/6;
    justify-content: center;
    align-items: center;
}

.update-button {
    margin: 5px;
    background: #F4F1DE;
    border-radius: 5%;
}

.saved-notes-title-text {
    display: flex;
    justify-content: center;
}

.title {
    background: #f2cc8f;
}

.delete-button {
    margin: 5px;
    background: #F4F1DE;
    border-radius: 5%;
}

.saved-notes-container {
    background: #F4F1DE;
}